<!DOCTYPE html>
<html lang="en">
    <head>
        <title>TradeMe</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <Link rel=stylesheet href="C:\Users\CH3$E\Documents\Trade-me Front0end\bootstrap-3.4.1-dist\css\bootstrap.css">
        <Link rel=stylesheet href="C:\Users\CH3$E\Documents\Trade-me Front0end\bootstrap-3.4.1-dist\js\bootstrap.min.js">
        
    </head>
    <body>
        <div class="jumbotron" style="background-color: greenyellow;margin-bottom: 0%;position: relative;">
            <img class="img-responsive" src="logo.png" alt="Chania" width="30%" style="left: 39%;position: relative;" >
        </div>
        <nav class="navbar navbar-inverse" >
            <div class="container-fluid" >
              <div class="navbar-header" >
                <a class="navbar-brand" href="#">TradeMe</a>
              </div>
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#">Page 1</a></li>
                <li><a href="#">Page 2</a></li>
              </ul>
              <ul class="nav navbar-nav navbar-right">
                <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
              </ul>
            </div>
          </nav>
    </body>
</html>